<section class="content-dashboard-country-profile mt-5">
    <div class="container-dashboard mt-5">
        <div class="left-menu">
            <div class="nav-menu">
                <div class="navigation-title-dashboard">
                    <p>{{ post.title }}</p>
                </div>
                <div class="navigation-menu">
                    {% for item in countries %}
                        <a href="{{ function( 'get_permalink', post.ID ) }}?country={{ item.slug }}"
                           class="{{ country == item.slug ? 'current-menu-item': '' }} menu-item">
                            <div class="dashboard-list-item-index">
                            </div>
                            <p class="menu-title">{{ item.name }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="content-dashboard">
            {% if ( country is empty ) %}
                <h1 class="dashboard-title">Select Country</h1>
            {% else %}
                <h1 class="dashboard-title">You are seeing {{ country|capitalize }} food system dashboard</h1>
                <div class="content-graph">
                    <div class="grid-left-graph">
                        <div class="grid-narrative">
                            <p>Learn more about the pilot project in <a href="#">{{ country|capitalize }}</a></p>
                        </div>
                        <div class="grid-graph-radar">
                            <div class="radar-title-download">
                                <p>{{ country|capitalize }}</p><i aria-hidden="true" class="fas fa-download"></i>
                            </div>
                            <div class="graph-radar">
                                <canvas id="radar-chart" width="410" height="600"></canvas>
                            </div>
                        </div>
                        <div class="grid-graph-comparative-bars"></div>
                        <div class="grid-graph-lineal"></div>
                    </div>
                    <div class="grid-indicators-graph">
                        <div class="grid-status-bar">
                            <div class="component-status component-excellent active component-driver">
                                <h3>Drivers</h3>
                                <div class="status-progress">
                                    <p>Excellent</p>
                                    <div class="bar">
                                        <div class="bar-progress"></div>
                                        <div class="message-info">
                                            <strong>85-100%</strong> of all indicators for Actors and activities have improved or remained unchanged over the time period considered
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="component-status component-good component-actors">
                                <h3>Actors and activities</h3>
                                <div class="status-progress">
                                    <p>Good</p>
                                    <div class="bar">
                                        <div class="bar-progress"></div>
                                        <div class="message-info">
                                            <strong>65-84%</strong> of all indicators for Actors and activities have improved or remained unchanged over the time period considered
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="component-status component-fair component-food">
                                <h3>Food environment</h3>
                                <div class="status-progress">
                                    <p>Fair</p>
                                    <div class="bar">
                                        <div class="bar-progress"></div>
                                        <div class="message-info">
                                            <strong>50-64%</strong> of all indicators for Food environment have improved or remained unchanged over the time period considered
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="component-status component-concerning component-consumer">
                                <h3>Consumer behavior</h3>
                                <div class="status-progress">
                                    <p>Concerning</p>
                                    <div class="bar">
                                        <div class="bar-progress"></div>
                                        <div class="message-info">
                                            <strong>25-49%</strong> of all indicators for Concerning have improved or remained unchanged over the time period considered
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="component-status component-very-concerning component-outcomes">
                                <h3>Outcomes</h3>
                                <div class="status-progress">
                                    <p>Very concerning</p>
                                    <div class="bar">
                                        <div class="bar-progress"></div>
                                        <div class="message-info last-info">
                                            <strong>0-24%</strong> of all indicators for Very concerning have improved or remained unchanged over the time period considered
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-graph-bar"></div>
                        <div class="grid-tab-indicators"></div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>