{% import "./view/macros/card-indicator.twig" as cardIndicator %}
{% import "./view/macros/card-component.twig" as cardComponent %}
{% import "./view/macros/card-world-average.twig" as cardWorld %}

<section class="content-dashboard-country-profile mt-5" style="overflow-x: hidden; overflow-y: hidden;">
    <div class="container-dashboard">
        <div class="left-menu">
            <div class="nav-menu">
                <div class="navigation-title-dashboard">
                    <p>{{ post.title }}</p>
                </div>
                <div class="navigation-menu">
                    {% for item in countries %}
                        {% if item.count >= 25 %}
                            <a href="{{ function( 'get_permalink', post.ID ) }}?country={{ item.slug }}"
                               class="{{ country == item.slug ? 'current-menu-item': '' }} menu-item">
                                <div class="dashboard-list-item-index">
                                </div>
                                <p class="menu-title">{{ item.name }}</p>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="content-dashboard">
            {% if ( country is empty ) %}
                <div class="content-dashboard-empty">
                    <img class="empty-graph" width="155" height="90"
                         src="{{ theme.link ~ '/static/images/empty_graph.png' }}" alt="Empty Graph">
                    <h1 class="dashboard-title">Select a country to show indicators</h1>
                </div>
            {% else %}
                <h1 class="dashboard-title">
                    You are seeing {{ country|capitalize }} food system dashboard
                    <span> - Click on each of the 5 components below to see the detailed figures.</span>
                </h1>
                <div class="content-grid-components-status">
                    <div class="components-status-title">
                        <span>The five food system components compared to the world average</span>
                    </div>
                    <div class="components-items">
                        <div class="grid-status-bar">
                            {{ cardComponent.component( 'Drivers', componentDrivers, country|capitalize, 'tab-drivers', 'accordion-drivers', 'world-drivers', true ) }}
                            {{ cardComponent.component( 'Actors and activities', componentActors, country|capitalize, 'tab-actors-activities', 'accordion-actors-activities', 'world-actors-and-activities' ) }}
                            {{ cardComponent.component( 'Food environment', componentFood, country|capitalize, 'tab-food-environment', 'accordion-food-environment', 'world-food-environment' ) }}
                            {{ cardComponent.component( 'Consumer behavior', componentConsumer, country|capitalize, 'tab-consumer-behavior', 'accordion-consumer-behavior', 'world-consumer-behavior' ) }}
                            {{ cardComponent.component( 'Outcomes', componentOutcomes, country|capitalize, 'tab-outcomes', 'accordion-outcomes', 'world-outcomes' ) }}
                        </div>
                    </div>
                </div>
                <div class="content-graph">
                    <div class="grid-left-graph">
                        <div class="grid-graph-comparative-bars">
                            <div id="accordion-drivers" class="item-component-description active">
                                <p>
                                    <span>{{ post.meta( 'dash_driver_title_text' ) }}</span> {{ post.meta( 'dash_driver_description' ) }}
                                </p>
                            </div>
                            <div id="accordion-actors-activities" class="item-component-description">
                                <p>
                                    <span>{{ post.meta( 'dash_actors_title_text' ) }}</span> {{ post.meta( 'dash_actors_description' ) }}
                                </p>
                            </div>
                            <div id="accordion-food-environment" class="item-component-description">
                                <p>
                                    <span>{{ post.meta( 'dash_environment_title_text' ) }}</span> {{ post.meta( 'dash_environment_description' ) }}
                                </p>
                            </div>
                            <div id="accordion-consumer-behavior" class="item-component-description">
                                <p>
                                    <span>{{ post.meta( 'dash_behavior_title_text' ) }}</span> {{ post.meta( 'dash_behavior_description' ) }}
                                </p>
                            </div>
                            <div id="accordion-outcomes" class="item-component-description">
                                <p>
                                    <span>{{ post.meta( 'dash_outcomes_title_text' ) }}</span> {{ post.meta( 'dash_outcomes_description' ) }}
                                </p>
                            </div>
                        </div>
                        <div class="grid-graph-radar">
                            <div class="title-download">
                                <p>{{ country|capitalize }}</p>
                                <i id="radar-chart-download" aria-hidden="true"
                                   class="fas fa-download click-download"></i>
                            </div>
                            <div id="graph-radar" class="graph-radar">
                                <canvas id="radar-chart" width="410" height="410"
                                        style="background-color: #f7f8fc;"></canvas>
                            </div>
                        </div>
                        <div class="grid-graph-lineal">
                            <div class="title-download">
                                <p id="title-line-chart"></p>
                                <i id="line-chart-download" aria-hidden="true"
                                   class="fas fa-download click-download"></i>
                            </div>
                            <div id="graph-line" class="graph-line">
                                <canvas id="line-chart" width="410" height="310"></canvas>
                                <div class="graph-bars-label">
                                    <div class="bar-label"><i
                                                class="fas fa-circle label-one"></i><span>{{ country|capitalize }}</span>
                                    </div>
                                    <div class="bar-label"><i class="fas fa-circle label-two"></i><span>Geographic neighbors</span>
                                    </div>
                                    <div class="bar-label"><i class="fas fa-circle label-three"></i><span>Countries with similar GDP per capita</span>
                                    </div>
                                    <div class="bar-label"><i
                                                class="fas fa-circle label-four"></i><span>World average</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-indicators-graph">

                        <div id="grid-graph-bar" class="grid-graph-bar">
                            <div id="content-graph-bar-download" class="content-graph-bar">
                                <div class="graph-bar-title-download">
                                    <p id="graph-bar-title" class="graph-bar-title"></p>
                                    <i id="bar-chart-download" aria-hidden="true"
                                       class="fas fa-download click-download"></i>
                                </div>
                                <div class="graph-bar">
                                    <canvas id="bar-chart" width="800" height="200"></canvas>
                                </div>
                                <div class="button-download">
                                    <div class="alert-message-gn">
                                        <div class='message-hover'>
                                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_3431_91553)">
                                                    <path d="M9.5 18C14.4706 18 18.5 13.9706 18.5 9C18.5 4.02944 14.4706 0 9.5 0C4.52944 0 0.5 4.02944 0.5 9C0.5 13.9706 4.52944 18 9.5 18Z"
                                                          fill="#CECECE"/>
                                                    <path d="M9.3507 6.24046C10.1355 6.24046 10.7717 5.60425 10.7717 4.81945C10.7717 4.03465 10.1355 3.39844 9.3507 3.39844C8.5659 3.39844 7.92969 4.03465 7.92969 4.81945C7.92969 5.60425 8.5659 6.24046 9.3507 6.24046Z"
                                                          fill="#737373"/>
                                                    <path d="M10.3091 7.16406H8.48368C8.22113 7.16406 8.0083 7.3769 8.0083 7.63944V14.1572C8.0083 14.4198 8.22113 14.6326 8.48368 14.6326H10.3091C10.5717 14.6326 10.7845 14.4198 10.7845 14.1572V7.63944C10.7845 7.3769 10.5717 7.16406 10.3091 7.16406Z"
                                                          fill="#737373"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_3431_91553">
                                                        <rect width="18" height="18" fill="white"
                                                              transform="translate(0.5)"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            <div class='message-info'>
                                            <span>
                                                {% for item in countryFields.neighboring_countries_repeater %}
                                                    {{ item.neighboring_country }}{{ not loop.last ? ',': '.' }}
                                                {% endfor %}
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert-message-gdp">
                                        <div class='message-hover'>
                                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_3431_91553)">
                                                    <path d="M9.5 18C14.4706 18 18.5 13.9706 18.5 9C18.5 4.02944 14.4706 0 9.5 0C4.52944 0 0.5 4.02944 0.5 9C0.5 13.9706 4.52944 18 9.5 18Z"
                                                          fill="#CECECE"/>
                                                    <path d="M9.3507 6.24046C10.1355 6.24046 10.7717 5.60425 10.7717 4.81945C10.7717 4.03465 10.1355 3.39844 9.3507 3.39844C8.5659 3.39844 7.92969 4.03465 7.92969 4.81945C7.92969 5.60425 8.5659 6.24046 9.3507 6.24046Z"
                                                          fill="#737373"/>
                                                    <path d="M10.3091 7.16406H8.48368C8.22113 7.16406 8.0083 7.3769 8.0083 7.63944V14.1572C8.0083 14.4198 8.22113 14.6326 8.48368 14.6326H10.3091C10.5717 14.6326 10.7845 14.4198 10.7845 14.1572V7.63944C10.7845 7.3769 10.5717 7.16406 10.3091 7.16406Z"
                                                          fill="#737373"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_3431_91553">
                                                        <rect width="18" height="18" fill="white"
                                                              transform="translate(0.5)"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>

                                            <div class='message-info'>
                                            <span>
                                                {% for item in countryFields.countries_similar_dgp_repeater %}
                                                    {{ item.similar_dgp_country }}{{ not loop.last ? ',': '.' }}
                                                {% endfor %}
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                    <i aria-hidden="true" style="display: none;"
                                       class="fas fa-download click-download"></i>
                                </div>
                            </div>
                            <div class="content-world-average">
                                {{ cardWorld.card( 'Drivers', componentDrivers, directoryURL, true ) }}
                                {{ cardWorld.card( 'Actors and activities', componentActors, directoryURL ) }}
                                {{ cardWorld.card( 'Food environment', componentFood, directoryURL ) }}
                                {{ cardWorld.card( 'Consumer behavior', componentConsumer, directoryURL ) }}
                                {{ cardWorld.card( 'Outcomes', componentOutcomes, directoryURL ) }}
                            </div>
                        </div>
                        <div class="grid-tab-indicators">
                            <div class="indicators-tabs">
                                <ul class="tabs">
                                    <li id="tab-drivers" data-component-id="component-drivers"
                                        data-accordion-id='accordion-drivers' data-world-id="world-drivers">
                                        <a href="#indicator-drivers">Drivers</a></li>
                                    <li id="tab-actors-activities" data-component-id="component-actors-and-activities"
                                        data-accordion-id='accordion-actors-activities'
                                        data-world-id="world-actors-and-activities">
                                        <a href="#indicator-actors-activities">Actors and activities</a></li>
                                    <li id="tab-food-environment" data-component-id="component-food-environment"
                                        data-accordion-id='accordion-food-environment'
                                        data-world-id="world-food-environment">
                                        <a href="#indicator-food-environment">Food environment</a></li>
                                    <li id="tab-consumer-behavior" data-component-id="component-consumer-behavior"
                                        data-accordion-id='accordion-consumer-behavior'
                                        data-world-id="world-consumer-behavior">
                                        <a href="#indicator-consumer-behavior">Consumer behavior</a></li>
                                    <li id="tab-outcomes" data-component-id="component-outcomes"
                                        data-accordion-id='accordion-outcomes' data-world-id="world-outcomes">
                                        <a href="#indicator-outcomes">Outcomes</a></li>
                                </ul>
                                <div class="tab_container">
                                    <div class="tab_content" id="indicator-drivers">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorDrivers, true ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-actors-activities">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorActors ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-food-environment">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorFood ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-consumer-behavior">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorConsumer ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-outcomes">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorOutcomes ) }}
                                    </div>

                                    {% if countryFields.download_doc_country is not empty %}
                                        <div class="content-download-doc">
                                            <a class="btn-download-doc"
                                               href="{{ countryFields.download_doc_country.url }}"
                                               download="Data source {{ country }}">
                                                Data source
                                                <svg width="18" height="21" viewBox="0 0 18 21" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_3372_92362)">
                                                        <path d="M0.000686695 10.4916C0.000686695 8.2237 -0.000858369 5.95578 0.000686695 3.68786C0.00377682 1.86851 1.25373 0.412148 3.12172 0.0609677C3.33957 0.0196524 3.5667 0.00342133 3.78918 0.00342133C7.27021 0.000470234 10.7512 0.000470234 14.2323 0.00194578C16.2532 0.00342133 17.9559 1.56603 17.9821 3.49899C18.0146 5.8643 17.9945 8.2296 17.9899 10.5949C17.9899 11.1453 17.5403 11.557 16.9794 11.5525C16.4185 11.5496 15.9921 11.1246 15.9906 10.5551C15.989 8.27977 15.9859 6.00595 15.9921 3.73066C15.9952 2.65351 15.2227 1.90983 14.0948 1.90983C10.6817 1.9113 7.26867 1.90983 3.85562 1.90983C2.96103 1.90983 2.25339 2.4307 2.05871 3.23192C2.02318 3.37652 2.00618 3.52703 2.00618 3.67458C2.00309 8.21042 2.00309 12.7477 2.00618 17.2836C2.00618 18.1674 2.51451 18.824 3.35657 19.0232C3.53888 19.066 3.73202 19.0778 3.92051 19.0778C4.96498 19.0837 6.01099 19.0778 7.05545 19.0837C7.6333 19.0867 8.05511 19.4644 8.07519 19.9853C8.09682 20.5298 7.6982 20.9813 7.11725 20.9857C5.85648 20.996 4.59107 21.0211 3.33339 20.9488C1.75897 20.8573 0.348326 19.5721 0.0841202 18.0863C0.033133 17.8 0.00686695 17.5078 0.00686695 17.2172C-0.00085837 14.9773 0.000686695 12.7344 0.000686695 10.4916Z"
                                                              fill="#F7F8FC"/>
                                                        <path d="M14.8023 19.2928C12.6763 20.5279 10.1362 19.8816 8.85531 18.2098C7.58063 16.5454 7.74595 14.1992 9.2493 12.7399C10.7928 11.2422 13.1985 11.0283 14.9753 12.2117C16.7135 13.3685 17.5679 15.7855 16.2098 17.9516C16.7011 18.4178 17.2017 18.8826 17.6884 19.3592C17.9959 19.6602 18.0685 20.0232 17.9017 20.4157C17.7502 20.7699 17.3717 21.003 16.9715 20.9971C16.7027 20.9927 16.4725 20.8953 16.2809 20.7108C15.7896 20.2372 15.2967 19.765 14.8007 19.2899L14.8023 19.2928ZM12.4414 18.0224C13.7918 18.018 14.8795 16.9821 14.8764 15.7043C14.8733 14.4102 13.7794 13.3626 12.4352 13.3656C11.0864 13.3685 10.0002 14.4147 10.0033 15.7087C10.0048 16.9925 11.0957 18.0253 12.4414 18.0224V18.0224Z"
                                                              fill="#F7F8FC"/>
                                                        <path d="M9.00615 3.80875C10.3148 3.80875 11.6235 3.82055 12.9322 3.80284C13.4528 3.79547 13.989 4.1614 13.9936 4.77818C13.9982 5.31676 13.5301 5.71811 12.9198 5.71811C10.3025 5.71811 7.68357 5.71811 5.06623 5.71811C4.50228 5.71811 4.11293 5.423 4.01559 4.93164C3.90125 4.35765 4.36014 3.81465 4.97507 3.8117C6.31773 3.80727 7.6604 3.81022 9.00306 3.81022L9.00615 3.80875Z"
                                                              fill="#F7F8FC"/>
                                                        <path d="M8.99457 9.53913C7.65809 9.53913 6.32007 9.54208 4.98358 9.53766C4.50771 9.53618 4.12916 9.23665 4.02874 8.80874C3.88659 8.20819 4.32539 7.66666 4.98668 7.62977C5.03457 7.62682 5.08092 7.6283 5.12882 7.6283C7.71371 7.6283 10.3002 7.6283 12.885 7.6283C13.4814 7.6283 13.877 7.92488 13.9774 8.44575C14.0778 8.96219 13.656 9.49634 13.106 9.53028C12.8016 9.54946 12.4957 9.54061 12.1898 9.54208C11.1237 9.54208 10.0591 9.54208 8.99303 9.54208V9.53913H8.99457Z"
                                                              fill="#F7F8FC"/>
                                                        <path d="M5.66944 11.4668C5.89347 11.4668 6.1175 11.4624 6.33999 11.4668C6.89158 11.4801 7.31647 11.8903 7.32265 12.4097C7.32883 12.9173 6.89776 13.357 6.3539 13.3717C5.89347 13.385 5.4315 13.3835 4.97107 13.3717C4.4272 13.357 3.9915 12.9187 3.99613 12.4141C4.00077 11.8903 4.43647 11.4771 4.99888 11.4668C5.22291 11.4624 5.44695 11.4668 5.66944 11.4668Z"
                                                              fill="#F7F8FC"/>
                                                        <path d="M5.18843 17.1955C4.77435 17.2354 4.40199 17.1203 4.15633 16.7529C3.78242 16.1892 4.11152 15.4367 4.80062 15.3201C5.06791 15.2744 5.35684 15.2788 5.62568 15.3172C6.14946 15.3939 6.47392 15.8248 6.43375 16.3383C6.39821 16.8075 5.98568 17.1764 5.47427 17.1955C5.3862 17.1985 5.29813 17.1955 5.18843 17.1955V17.1955Z"
                                                              fill="#F7F8FC"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_3372_92362">
                                                            <rect width="18" height="21" fill="white"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>