{% import "./view/macros/card-indicator.twig" as cardIndicator %}
{% import "./view/macros/card-component.twig" as cardComponent %}

<section class="content-dashboard-country-profile mt-5" style="overflow-x: hidden; overflow-y: hidden;">
    <div class="container-dashboard">
        <div class="left-menu">
            <div class="nav-menu">
                <div class="navigation-title-dashboard">
                    <p>{{ post.title }}</p>
                </div>
                <div class="navigation-menu">
                    {% for item in countries %}
                        <a href="{{ function( 'get_permalink', post.ID ) }}?country={{ item.slug }}"
                           class="{{ country == item.slug ? 'current-menu-item': '' }} menu-item">
                            <div class="dashboard-list-item-index">
                            </div>
                            <p class="menu-title">{{ item.name }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="content-dashboard">
            {% if ( country is empty ) %}
                <div class="content-dashboard-empty">
                    <img class="empty-graph" width="155" height="90" src="{{ theme.link ~ '/static/images/empty_graph.png' }}" alt="Empty Graph">
                    <h1 class="dashboard-title">Select a country to show indicators</h1>
                </div>
            {% else %}
                <h1 class="dashboard-title">You are seeing {{ country|capitalize }} food system dashboard</h1>
                <div class="content-graph">
                    <div class="grid-left-graph">
                        <div class="grid-narrative">
                            <p>Learn more about the pilot project in <a href="{{ countryFields.narrative_page }}">{{ country|capitalize }}</a></p>
                        </div>
                        <div class="grid-graph-radar">
                            <div class="title-download">
                                <p>{{ country|capitalize }}</p>
                                <i id="radar-chart-download" aria-hidden="true" class="fas fa-download click-download"></i>
                            </div>
                            <div id="graph-radar" class="graph-radar">
                                <canvas id="radar-chart" width="410" height="410" style="background-color: #f7f8fc;"></canvas>
                            </div>
                        </div>
                        <div class="grid-graph-comparative-bars">
                            <div class="title-download">
                                <p id="title-bar-chart"></p>
                                <i id="group-bar-chart-download" aria-hidden="true" class="fas fa-download click-download"></i>
                            </div>
                            <div id="graph-comparative-bars" class="graph-comparative-bars">
                                <canvas id="bar-chart-grouped" width="410" height="310"></canvas>
                                <div class="graph-bars-label">
                                    <div class="bar-label"><i class="fas fa-circle label-one"></i><span>{{ country|capitalize }}</span></div>
                                    <div class="bar-label"><i class="fas fa-circle label-two"></i><span>Geographic neighbors</span></div>
                                    <div class="bar-label"><i class="fas fa-circle label-three"></i><span>Countries with similar GDP per capita</span></div>
                                    <div class="bar-label"><i class="fas fa-circle label-four"></i><span>World average</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-graph-lineal">
                            <div class="title-download">
                                <p id="title-line-chart"></p>
                                <i id="line-chart-download" aria-hidden="true" class="fas fa-download click-download"></i>
                            </div>
                            <div id="graph-line" class="graph-line">
                                <canvas id="line-chart" width="410" height="310"></canvas>
                                <div class="graph-bars-label">
                                    <div class="bar-label"><i class="fas fa-circle label-one"></i><span>{{ country|capitalize }}</span></div>
                                    <div class="bar-label"><i class="fas fa-circle label-two"></i><span>Geographic neighbors</span></div>
                                    <div class="bar-label"><i class="fas fa-circle label-three"></i><span>Countries with similar GDP per capita</span></div>
                                    <div class="bar-label"><i class="fas fa-circle label-four"></i><span>World average</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-indicators-graph">
                        <div class="grid-status-bar">
                            {{ cardComponent.component( 'Drivers', componentDrivers, true ) }}
                            {{ cardComponent.component( 'Actors and activities', componentActors ) }}
                            {{ cardComponent.component( 'Food environment', componentFood ) }}
                            {{ cardComponent.component( 'Consumer behavior', componentConsumer ) }}
                            {{ cardComponent.component( 'Outcomes', componentOutcomes ) }}
                        </div>
                        <div id="grid-graph-bar" class="grid-graph-bar">
                            <p id="graph-bar-title" class="graph-bar-title"></p>
                            <div class="graph-bar">
                                <canvas id="bar-chart" width="800" height="200"></canvas>
                            </div>
                            <div class="button-download">
                                <i id="bar-chart-download" aria-hidden="true" class="fas fa-download click-download"></i>
                            </div>
                        </div>
                        <div class="grid-tab-indicators">
                            <div class="note-indicators">
                                <i class="fas fa-times note-closed"></i>
                                <div class="note-title">Note:</div>
                                <div class="note-description">
                                    {{ note }}
                                </div>
                            </div>
                            <div class="indicators-tabs">
                                <ul class="tabs">
                                    <li><a href="#indicator-drivers">Drivers</a></li>
                                    <li><a href="#indicator-actors-activities">Actors and activities</a></li>
                                    <li><a href="#indicator-food-environment">Food environment</a></li>
                                    <li><a href="#indicator-consumer-behavior">Consumer behavior</a></li>
                                    <li><a href="#indicator-outcomes">Outcomes</a></li>
                                </ul>

                                <div class="tab_container">
                                    <div class="tab_content" id="indicator-drivers">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorDrivers, true ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-actors-activities">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorActors ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-food-environment">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorFood ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-consumer-behavior">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorConsumer ) }}
                                    </div>
                                    <div class="tab_content" id="indicator-outcomes">
                                        <!--Content-->
                                        {{ cardIndicator.indicator( indicatorOutcomes ) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>